<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pepe App</title>
 	<link rel="stylesheet" href="css/my-custom-theme.min.css" />
  	<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.icons-1.4.5.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css"/>


	<script src="js/jquery.js"></script>
	<script src="js/jquery.mobile-1.4.5.js"></script>

	<link rel="stylesheet" href="css/styles.css" />
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div data-role="page" data-theme="a" id="page-app">
	<div data-role="header" data-theme="a" data-position="inline">
		<div class="ui-grid-a height-65">
			<div class="ui-block-a margin-top-10">
				<center><p class="font-size-12 margin-bottom-2">JOSE LUIS MARRERO MARRERO</p></center>
				<center><p class="font-size-9 margin-top-0">Electricidad en general</p></center>
			</div>
			<div class="ui-block-b margin-top-10">
				<p id="n-parte" class="font-size-9 text-right padding-right-20">Parte de trabajo: {{numeroParteNuevo}}</p>
				<p id="fecha" class="font-size-9 text-right padding-right-20">Fecha: {{today | date:'dd-MM-yyyy' }}</p>
			</div>
		</div><!-- /grid-a -->
	</div>
	<div role="main" class="ui-content" data-theme="a">
	
	<form>
	<div class="ui-field-contain">
		<p><label for="select-native-1">Cliente:</label></p>
		<select name="select-native-1" id="select-cliente">
			<option value="1" selected>Desnudos</option>
		</select>
		<input disabled="disabled" name="text-10" id="correo-cliente" value="teresa@desnudos.es" type="text">
		<label><input id="check-email" type="checkbox" name="checkbox-0" checked="checked">Enviar email</label>
		<div class="ui-grid-a">
			<div class="ui-block-a border-top padding-top"><label for="mantenimiento">Mantenimiento:</label>
			<select name="mantenimiento" id="mantenimiento" data-role="slider">
			    <option value="0">No</option>
			    <option value="1">Si</option>
			</select>
			</div>
			<div class="ui-block-b border-top padding-top"><label for="mantenimiento">Avería:</label>
			<select name="averia" id="averia" data-role="slider">
			    <option value="0">No</option>
			    <option value="1">Si</option>
			</select>
			</div>
		</div>
		<p class="border-top padding-top"><label for="lugar">Lugar de trabajo</label></p>
		<select name="lugar" id="lugar">
			<option value="0" selected>No especificado</option>
			<option value="1">Sebadal I</option>
			<option value="2">Sebadal II</option>
			<option value="3">Tiendas LP</option>
			<option value="4">Arucas</option>
			<option value="5">Maspalomas</option>
			<option value="6">Siete Palmas</option>
			<option value="7">***</option>
		</select>
		<p class="border-top"><center><label for="textarea-1">TRABAJO REALIZADO</label></center></p>
		<textarea name="textarea-1" id="textarea-1" rows="7"></textarea>
		<div class="ui-grid-a" class="border-top">
			<div class="ui-block-a">
			<label for="time-1">Hora de entrada</label>
			<input data-clear-btn="false" name="time-1" id="time-1" value="" type="time">
			</div>
			<div class="ui-block-b">
			<label for="time-2">Hora de salida</label>
			<input data-clear-btn="true" name="time-2" id="time-2" value="" type="time">
			</div>
		</div>
		<div>
		<label for="time-total">Total horas:</label>
		<input data-clear-btn="true" name="time-total" id="time-total" value="{{totalHoras}}" disabled="disable">
		</div>
		<div class="border-top padding-top">
			<label for="text-basic">Quién firma</label>
			<input type="text" name="firmante" id="firmante" value="">
		</div>
		<center>
			<button class="ui-btn ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" ng-click="popFirma()">Firmar</button>	
		</center>
		<center class="padding-bottom">
			<button class="ui-btn ui-icon-recycle ui-btn-icon-left ui-shadow ui-corner-all" ng-click="reset()">Reset</button>	
		</center>

	</form>		
	</div>
</div>

<div data-role="popup" id="firma" data-dismissible="false">
    <div data-role="header" data-theme="a">
         <h1>Firma</h1>
    </div>
    <div role="main" class="ui-content">
		<div id="div_signcontract">
			<canvas id="canvas">Canvas is not supported</canvas>
			<div class="text-right">
				<input id="btnClearSign" type="button" data-inline="true" data-mini="true" data-theme="b" value="Borrar firma" onclick="init_Sign_Canvas()" />
			</div>
		</div>
		<center class="border-top padding-top"><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-check" ng-click="checkConnection()">Enviar</button></center><!--ng-click="enviar()"-->
		<center class="border-top padding-top"><a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-delete" data-rel="back">Cancel</a></center>
    </div>
</div>

<div data-role="popup" id="popupBasic" data-overlay-theme="b" data-theme="b" data-dismissible="false">
    <div role="main" class="ui-content">
	<p class="error">{{erroresText_1}}</p>
	<p class="error">{{erroresText_2}}</p>
	<p class="error">{{erroresText_3}}</p>
	<p class="error">{{erroresText_4}}</p>
	<p class="error">{{errorHora}}</p>
	<a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cerrar</a>
    </div>
</div>

</div>



<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="cordova_plugins.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
<script src="js/signature_pad.js"></script>
<script src="js/signature_pad_custom.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>

<script type="text/javascript">
	var canvas = document.getElementById('canvas');
	var signaturePad = new SignaturePad(canvas, {
  		backgroundColor: 'rgb(255, 255, 255)',
  		minWidth: 1,
    	maxWidth: 1
	});
</script>

</body>

</html>