html, body {
  overflow-x: auto;
}
#textarea-1{
	height: 80px!important;
}
.font-size-12{
	font-size: 12px;
}
.font-size-9{
	font-size: 9px;
}
.text-right{
	text-align: right;
}
.padding-right-20{
	padding-right: 20px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-bottom-2{
	margin-bottom: 2px;
}
.margin-top-0{
	margin-top: 0;
}
.height-65{
	height: 65px;
}
.height-80{
	height: 80px;
}
.border-top{
	border-top: 1px solid #ccc;
}
.padding-top{
	padding-top: 10px;
}
.padding-bottom{
	padding-bottom: 10px;
}
.error{
    color: red;
    font-size: 10px;
    font-weight: bold;
}
.ui-popup-container{
    height: 98%;
    width: 400px!important;
    position: absolute;
    top:0;
    left:0!important;
    margin:0 auto;
}
div#firma {
    width: 385px!important;
    margin: 0 auto!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
#popupBasic{
	padding: 20px;
    width: 250px!important;
    height: 200px;
    position: absolute;
    text-align: center;
    overflow: auto;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
